/* CSS TABLE OF CONTENTS
---------------------------------
#GLOBALS
     #RESET
     #COLORS
     #TYPOGRAPHY
        #BODY
        #HEADINGS
        #PARAGRAPHS
        #LINKS
        #LISTS
        #BLOCK QUPTES
        #HELPERS
        #MEDIA
            #IMAGES (Responsive)
        #COMPONENTS/UI ELEMENTS
            #BUTTONS
#BASE LAYOUT
    #CONTAINER
     #MEDIAQUERIES
     #CONTAINER
     #GRID SYSTEM

#BASE SITE
     #SITE HEADER
        #Site ID
     #SITE MAIN
     #SITE FOOTER
     #SITE NAVIGATION
    #SECTIONS
    #SUB PAGES
--------------------------------- */
/*GLOBAL RESET*/
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

header, footer, aside, nav, main, figure, section, article {
  display: block;
}

body {
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 200;
  font-size: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3 {
  font-family: "aesthet-nova", serif;
  margin: 0.5em 0;
  max-width: 45em;
  font-weight: 400;
}

span {
  font-weight: 900;
}

.blue-type {
  color: #0488A6;
}

.turq-type {
  color: #5BCBBC;
}

h4, h5 {
  font-family: "aesthet-nova", serif;
  font-weight: 700;
  color: #0488A6;
}

h1 {
  font-size: 6.75em;
  line-height: 1em;
}

h2 {
  font-size: 4.5em;
  line-height: 1.1em;
}

h3 {
  font-size: 3em;
  line-height: 1.2em;
}

h4 {
  font-size: 2.25em;
  line-height: 1.3;
  text-transform: lowercase;
}

h5 {
  font-size: 2em;
  line-height: 1.4;
}

p {
  margin: 0 0 0.5em 0.25em;
  max-width: 45em;
  font-size: 1em;
}

.big-p {
  margin: 0 0 0.5em 0.25em;
  max-width: 45em;
  font-size: 1.3em;
}

hr {
  border: 0;
  height: 1px;
  margin: 3em 0;
  background: rgba(0, 0, 0, 0.1);
}

.text-centered {
  text-align: center;
}
.text-centered * {
  margin-left: auto;
  margin-right: auto;
}

.sectionhead {
  font-family: "canada-type-gibson", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #5BCBBC;
  font-size: 1em;
  margin: 1em auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}

button {
  font-size: inherit;
  font-family: "canada-type-gibson", sans-serif;
}

.button,
a.button {
  background-image: url(../../img/buttons/pink_round_1.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  width: 96px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 75%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  justify-content: center;
  text-align: center;
  line-height: 40px;
  margin: 0.5em 0.5em 1em 0em;
}
.button:hover,
a.button:hover {
  background-image: url(../../img/buttons/pink_round_2.png);
}

button.alt,
a.button.alt {
  background-image: url(../../img/buttons/pink_round_3.png);
  color: #FF6E6D;
}
button.alt:hover,
a.button.alt:hover {
  background-image: url(../../img/buttons/pink_round_4.png);
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* 
MEDIA QUERIES (Mobile First)
    #DEFAULT/Mobile
    #SMALL/Mobile+ - (max-width: 767px)
    #MEDIUM/Tablet - (min-width:768px)
    #LARGE/Desktop - (min-width: 1050px)
    #EXTRALARGE/Desktop+ - (min-width: 1250px)

*/
/* LAYOUT */
body {
  margin: 0;
  font-size: 88.75%;
}

.container {
  margin: 0 auto;
  padding: 0 4%;
}

@media (max-width: 767px) {
  body {
    font-size: 88.75%;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1050px) {
  body {
    font-size: 100%;
  }

  .container {
    max-width: 1050px;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }

  .container {
    max-width: 1250px;
  }
}