// SITE STRUCTURE

.site-identity {
    display: flex;
    align-items: center;
}

.site-header,
.site-footer {
    padding: 0.5em;
    width: 100%;
    a {color: $blue; text-decoration: none;}
}

.logo {
    max-width: 170px;
}

.site-footer {background-color: $yellow-lt;}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;

    .site-identity {
        h1 {
            font-family: $type-heading;
            font-size: 1.5em;
            font-weight: normal;
            line-height: 1;
            margin: .2em 0 0 0;
            white-space: nowrap;
            a {
                display: block;
                padding: 0.5em;
            }
        }
    }
}

.site-footer {
    display: flex;
    justify-content: center;
}

// SECTIONS

section {
    padding: 3em 0;
    min-height: 100vh;
    align-items: center;
}

.hero {
    padding: 5em 0;
    background:$yellow-lt;
    min-height: 100vh;
    display: grid;
    place-items: center;
}